/* The styling for the start is going to left in the style.css page so I wont add it here*/
/**************************** The Hero section ****************************/
.pr-hero {
  width: 100%;
  height: 100vh;
  background: url("../../images/UIs/pricing_page_1_background.jpg") no-repeat
    center center/cover;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  text-align: left;
}

.pr-hero-txt {
  text-align: center;
}
.pr-hero-txt h4 {
  font-size: 1.4rem;
  font-weight: 100;
}
.pr-hero-txt h2 {
  font-size: 3.8rem;
  font-weight: 600;
  padding: 3.5rem 6rem 2.5rem 6rem;
}
.pr-hero-txt p {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 21rem 2rem 21rem;
}

@media (max-width: 802px) and (max-height: 1282px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 7rem;
    text-align: left;
  }

  .pr-hero-txt {
    text-align: center;
  }
  .pr-hero-txt h4 {
    font-size: 1.2rem;
    font-weight: 100;
  }
  .pr-hero-txt h2 {
    font-size: 5rem;
    font-weight: 600;
    padding: 1.5rem 0.5rem 2.5rem 0.5rem;
  }
  .pr-hero-txt p {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 1.5rem 2rem 1.5rem;
  }
}

@media (max-width: 800px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 7rem;
    text-align: left;
  }

  .pr-hero-txt {
    text-align: center;
  }
  .pr-hero-txt h4 {
    font-size: 1.2rem;
    font-weight: 100;
  }
  .pr-hero-txt h2 {
    font-size: 2.6rem;
    font-weight: 600;
    padding: 1.5rem 0.5rem 2.5rem 0.5rem;
  }
  .pr-hero-txt p {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 1.5rem 2rem 1.5rem;
  }
}

@media (min-width: 700px) and (max-width: 799px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 10rem;
    text-align: left;
  }

  .pr-hero-txt {
    text-align: center;
  }
  .pr-hero-txt h4 {
    font-size: 1.5rem;
    font-weight: 100;
  }
  .pr-hero-txt h2 {
    font-size: 3rem;
    font-weight: 600;
    padding: 3rem 2rem 2.5rem 2rem;
  }
  .pr-hero-txt p {
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0 1.5rem 2rem 1.5rem;
  }
}

@media (max-width: 400px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 5rem;
    text-align: left;
  }

  .pr-hero-txt {
    text-align: center;
  }
  .pr-hero-txt h4 {
    font-size: 0.9rem;
    font-weight: 100;
  }
  .pr-hero-txt h2 {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.5rem 0.5rem 2.5rem 0.5rem;
  }
  .pr-hero-txt p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 1rem 2rem 1rem;
  }
}

@media (max-height: 845px) and (max-width: 399px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 6rem;
    text-align: left;
  }

  .pr-hero-txt {
    text-align: center;
  }
  .pr-hero-txt h4 {
    font-size: 0.9rem;
    font-weight: 100;
  }
  .pr-hero-txt h2 {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1.5rem 0.5rem 2.5rem 0.5rem;
  }
  .pr-hero-txt p {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0 1rem 2rem 1rem;
  }
}

@media (max-width: 362px) and (max-height: 741px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 5rem;
    text-align: left;
  }

  .pr-hero-txt {
    text-align: center;
  }
  .pr-hero-txt h4 {
    font-size: 0.9rem;
    font-weight: 100;
  }
  .pr-hero-txt h2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 0.5rem 2.5rem 0.5rem;
  }
  .pr-hero-txt p {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 1rem 2rem 1rem;
  }
}

@media (max-width: 822px) and (max-height: 1185px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 10rem;
    text-align: left;
  }

  .pr-hero-txt {
    text-align: center;
  }
  .pr-hero-txt h4 {
    font-size: 1.3rem;
    font-weight: 100;
  }
  .pr-hero-txt h2 {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 1.5rem 2rem 2.5rem 2rem;
  }
  .pr-hero-txt p {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 1rem 2rem 1rem;
  }
}
@media (max-width: 1025px) and (max-height: 1369px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 13rem;
    text-align: left;
  }
  .pr-hero-txt p {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 3rem 2rem 3rem;
  }
}

@media (max-height: 1026px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 7rem;
    text-align: left;
  }
}
@media (max-height: 900px) {
  .pr-hero {
    flex-direction: column;
    padding-top: 5rem;
    text-align: left;
  }
  .pr-hero-txt h2 {
    font-size: 3rem;
    font-weight: 600;
    padding: 1.5rem 2rem 2.5rem 2rem;
  }
}
