/* The styling for the start is going to left in the style.css page so I wont add it here*/
/**************************** The Hero section ****************************/
.pr-hero {
  width: 100%;
  height: 100vh;
  background: url("../../images/UIs/pricing_page_1_background.jpg") no-repeat
    center center/cover;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  text-align: left;
}

.pr-hero-txt {
  text-align: center;
}
.pr-hero-txt h4 {
  font-size: 1.4rem;
  font-weight: 100;
}
.pr-hero-txt h2 {
  font-size: 3.8rem;
  font-weight: 600;
  padding: 3.5rem 6rem 2.5rem 6rem;
}
.pr-hero-txt p {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 22rem 2rem 22rem;
}
