/************** The tablet view ***********************/
@media (max-width: 1285px) and (min-width: 1026px) {
  .cards-container {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 1rem;
    margin-top: -6.5rem;
    margin-right: -10rem;
    padding-left: 5rem;
    transform: translateX(-6%);
  }

  .cards-container .card h3 {
    padding-left: 1rem;
    margin-top: -7.5rem;
  }
}

@media (min-width: 810px) and (max-width: 1024px) {
  .logo {
    font-size: 1rem;
    margin-left: 1rem;
  }

  .nav-links {
    gap: 2rem;
    margin-right: -6%;
  }

  .nav-links a {
    font-size: 1rem;
    padding: 0.5rem 0.1rem;
  }
  /*This is to give the individual links better spacing. It solved a problem I had*/
  .act-links {
    margin-top: 0.5rem;
    margin-right: 4rem;
  }

  /**** The hero section****/
  .bck-img {
    top: 60%;
    left: 0%;
  }

  /******** The second section**************/
  .second-content p {
    font-size: 1.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cards-container {
    transform: none;
    flex-direction: column;
    gap: 0.02rem;
    padding-left: 5rem;
  }
  .cards-container .card {
    width: 100%;
    text-align: center;
  }
  .cards-container .card img {
    width: auto;
    height: 520px;
  }
  .cards-container .card h3 {
    margin-left: 17rem !important;
    margin-top: -8rem !important;
  }

  /***** The third section *****/
  .third {
    margin: 5rem 7rem 5rem 7rem;
    font-family: "Inter", sans-serif;
    color: var(--main-text);
    padding: 80px 20px;
  }
  .illustration {
    flex-shrink: 0;
    width: 30%;
    transform: translateY(9%);
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .illustration img {
    width: 210%;
    height: auto;
    object-fit: contain;
  }
}

@media (min-width: 1020px) and (max-width: 1025px) {
  /******* The hero section**************/
  .bck-img {
    top: 33%;
    left: 0%;
  }

  /******** The second section**************/
  .cards-container .card h3 {
    margin-left: 20rem;
    margin-top: -6rem;
  }
}

@media (min-width: 900px) and (max-width: 920px) {
  /******* The hero section *********/
  .bck-img {
    top: 35%;
    left: 0%;
  }
  /*The first section*/
  .cards-container {
    width: 110%;
  }
  .cards-container .card img {
    margin-right: 8rem;
  }

  .cards-container .card h3 {
    margin-right: 20rem;
  }
}

@media (min-width: 840px) and (max-width: 859px) {
  /******* The hero section *********/
  .bck-img {
    top: 35%;
    left: 0%;
  }

  /*The first section*/
  .cards-container .card {
    margin-left: 3rem;
  }

  .cards-container .card h3 {
    transform: translateX(-95px);
    margin-top: -8.5rem;
  }

  .illustration {
    transform: translateY(0%);
    margin-left: 13rem;
  }

  .illustration img {
    width: 290%;
  }
}
@media (max-width: 830px) {
  .act-links {
    margin-top: 0.5rem;
    margin-right: 1rem;
  }

  /**** The hero section****/
  .bck-img {
    top: 40%;
    left: 0%;
  }

  /******** The first section**************/
  .cards-container .card h3 {
    margin-left: 10.5rem !important;
    margin-top: -8rem;
  }
}

@media (min-width: 600px) and (max-width: 809px) {
  .logo {
    font-size: 1.2rem;
    margin-left: 2rem;
  }

  /*This is to give the individual links better spacing. It solved a problem I had*/
  .act-links {
    margin-top: 0.5rem;
    margin-right: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .nav-links {
    padding-left: 6rem;
    width: 92%;
  }
}

/* For larger screens */
@media (min-width: 769px) {
  nav {
    padding: 1.2rem 4rem;
  }

  .nav-links {
    margin-left: 2rem;
  }
}
@media (min-width: 768px) {
  /****The first section*****/

  /****The fourth*****/

  .svg-curve {
    margin-bottom: 6rem;
    transform: translateY(-5%);
    overflow: hidden;
  }
  .fth-txt {
    padding-left: 3rem;
  }
  .fth-txt h2 {
    text-align: left;
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
  }
  .fth-txt p {
    text-align: left;
    margin-bottom: 5rem;
  }
}

/** For other screens**/
@media (max-width: 770px) {
  .hamburger {
    margin-right: -10px;
  }

  .hero {
    margin-left: 10%;
  }

  .bck-img {
    top: 65%;
    left: -5%;

    /*  opacity: 0.1;*/
    z-index: -1;
  }
  .bck-img img {
    width: 110%;
  }

  /*the hero section*/
  .parallelogram {
    width: 62%;
    margin-top: 4%;
    height: 80px;
  }
}

@media (min-width: 700px) and (max-width: 769px) {
  .nav-links {
    width: 100%;
    padding-left: 8rem;
  }

  /**** The hero section****/
  .bck-img {
    top: 50%;
    left: 0%;
  }

  .cards-container {
    width: 100%;
  }
  .cards-container .card {
    width: 100%;
    margin-right: 12rem;
  }
}
@media (min-width: 760px) and (max-width: 770px) {
  .cards-container .card h3 {
    transform: translateX(50px);
    margin-top: -180px;
  }
}

@media (min-width: 500px) and (max-width: 542px) {
  .logo {
    font-size: 1rem;
    margin-left: 2rem;
  }

  /* Hero section */
  .bck-img {
    top: 85%;
    left: 0%;
  }
  .parallelogram {
    width: 92%;
  }
}

/*For smaller screens*/
@media (max-width: 480px) {
  .nav-links a {
    color: var(--wht-text) !important;
  }

  .act-links {
    color: var(--wht-text);
  }

  .hamburger {
    margin-right: -2rem;
  }

  .logo {
    margin-left: 1rem;
    margin-top: 2px;
    font-size: 1.2rem;
  }

  /* hero section */
  .hero {
    margin-left: 12%;
  }

  .hero-btn {
    transform: none;
    margin: 2.8rem auto 0 auto;
    width: fit-content;
  }

  .parallelogram {
    width: 67%;
  }

  .parallelogram h1 {
    font-size: 2.5rem;
  }

  .hero-content h2 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .bck-img {
    top: 67.8%;
    left: -5%;

    /*  opacity: 0.1;*/
    z-index: -1;
  }
  .bck-img img {
    width: 110%;
  }

  /************ The second section**************/
  .second {
    margin-top: 20rem;
    padding: 4rem 1rem;
    margin-left: 0rem;
    overflow: hidden;
  }
  .second-content {
    flex-direction: column;
    padding: 4rem 0rem;
    margin-left: 1.5rem;
  }
  .second-content h2 {
    font-size: 2.3rem;
  }
  .second-content p {
    font-size: 1.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .cards-container {
    flex-direction: column;
    gap: 0.02rem;
    transform: translateX(-70px);
  }

  .cards-container .card {
    width: 90%;
    text-align: center;
  }
  .cards-container .card img {
    width: auto;
    height: 60vh;
  }
  .cards-container .card h3 {
    font-size: 1.12rem;
    margin-top: -7.9rem;
    font-weight: 600;
    text-align: center;
    margin-left: 8.8rem;
    width: 110%;
  }
}

@media (max-width: 431px) and (min-width: 429px) {
  /*This is for a very specific screen size that vexing me*/

  .fth-txt {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /*the hero section*/
  .parallelogram {
    width: 76%;
    margin-top: 4%;
    height: 80px;
  }

  /* the first part */
  .cards-container {
    width: 100%;
  }
  .cards-container .card {
    margin-right: 23rem;
  }
  .cards-container .card h3 {
    padding-right: 12rem;
  }

  /*The fourth section*/
  .testimonials-grid {
    padding-left: 4.1rem;
    padding-right: 5rem;
  }
}

@media (max-width: 415px) {
  /**** The hero section****/
  .bck-img {
    top: 69% !important;
    left: 0%;
  }

  /* the first part*/
  .cards-container {
    width: 100%;
  }
  .cards-container .card {
    margin-right: 23rem;
  }
  .cards-container .card h3 {
    padding-right: 12rem;
  }
}

@media (min-width: 411px) and (max-width: 415px) {
  /*the hero section*/
  .parallelogram {
    width: 78%;
    margin-top: 4%;
    height: 80px;
  }

  /*the first section*/
  .bck-img {
    top: 50%;
  }

  /*The fourth section*/
}

@media (max-width: 413px) {
  /*the hero section*/
  .parallelogram {
    width: 80%;
    margin-top: 4%;
    height: 80px;
  }
  .bck-img {
    top: 69% !important;
    left: 0%;
  }

  /* the first section*/
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: -6.5rem;
    margin-right: 5rem;
    padding-left: 0rem;
  }
  .cards-container .card {
    transform: translateX(-95px);
  }

  .cards-container .card h3 {
    padding-left: -3rem;
    margin-top: -8.5rem;
    padding-right: 9rem;
  }

  /*The fourth section*/

  .svg-curve {
    width: 105%;
    overflow: hidden;
  }
  .fth-txt {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 411px) and (max-width: 413px) {
  .cards-container .card {
    transform: translateX(-10px);
  }
}

@media (min-width: 399px) and (max-width: 428px) {
  .bck-img {
    top: 92%;
    left: -5%;

    /*  opacity: 0.1;*/
    z-index: -1;
  }
  .bck-img img {
    width: 110%;
  }
}

@media (min-width: 200px) and (max-width: 369px) {
  .logo {
    font-size: 0.89rem;
    margin-left: 1rem;
  }
  .hamburger {
    width: 9%;
  }

  .cards-container .card h3 {
    margin-left: 9rem;
    margin-top: -7.9rem;
  }
  .cards-container .card img {
    height: 70vh;
  }
}
@media (min-width: 389px) and (max-width: 391px) {
  .cards-container .card h3 {
    transform: translateX(-80px);
  }
}
@media (min-width: 370px) and (max-width: 399px) {
  /*the hero section*/
  .parallelogram {
    width: 88%;
    margin-top: 4%;
    height: 80px;
  }

  /*This is for a very specific screen size that vexing me*/
  .second-content {
    flex-direction: column;
    padding: 4rem 0rem;
    margin-left: 1.5rem;
  }
  .second-content h2 {
    font-size: 2.3rem;
  }
  .second-content p {
    font-size: 1.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .cards-container .card {
    margin-left: 18.54rem;
    margin-right: 18rem;
  }
  .cards-container .card img {
    width: auto;
    height: 60vh;
  }
  .cards-container {
    width: 130%;
  }
  .cards-container .card h3 {
    padding-top: 1.5rem;
  }
}
@media (min-width: 371px) and (max-width: 379px) {
  /**** The hero section****/
  .bck-img {
    top: 89% !important;
    left: 0%;
  }

  /*This is for a very specific screen size that vexing me*/
  .cards-container {
    transform: translateX(-10%);
    width: 120%;
  }
  .cards-container .card {
    padding-left: 3rem;
  }
  .cards-container .card h3 {
    margin-left: 2rem;
    margin-top: -7.9rem;
    transform: translateX(-70px);
  }

  /* The fourth section*/
  .testimonials-grid {
    padding-left: 2.5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 359px) and (max-width: 361px) {
  /**** The hero section****/
  .bck-img {
    top: 85% !important;
    left: 0%;
  }

  /*This is for a very specific screen size that vexing me*/
  .cards-container {
    width: 100%;
  }

  .cards-container .card {
    transform: translateX(0%);
    width: 100%;
  }

  .cards-container .card h3 {
    margin-left: 7rem;
    margin-top: -7.9rem;
    padding-right: 10rem;
  }

  /*The fourth section*/
  .testimonials-grid {
    padding-left: 2rem;
    padding-right: 5rem;
  }
}

@media (min-width: 343px) and (max-width: 345px) {
  /*This is for a very specific screen size that vexing me*/
  .cards-container .card {
    text-align: center;
    width: 100%;
  }
  .cards-container {
    width: 110%;
    margin-left: 5rem;
  }
  .cards-container .card h3 {
    padding-right: 10rem;
    margin-left: 8rem;
    margin-top: -9rem;
  }
  .cards-container .card img {
    height: 60vh;
  }

  /*The fourth section*/
  .testimonials-grid {
    padding-left: 1.4rem;
    padding-right: 5rem;
  }
}

@media (min-width: 500px) and (max-width: 542px) {
  /*This is for a very specific screen size that vexing me*/
  .cards-container {
    width: 122%;
  }
  .cards-container .card {
    margin-right: 18rem;
    width: 100%;
  }
  .cards-container .card h3 {
    padding-right: 0rem;
    margin-left: 0rem;
    margin-top: -8rem;
  }

  /*The fourth section*/
  .testimonials-grid {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 200px) and (max-width: 369px) {
  .nav-links {
    margin-right: -3%;
  }
  .btn-contact {
    margin-left: 1rem;
  }
  .hamburger {
    width: 14%;
    height: 30px;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(190%) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
  }

  .parallelogram {
    width: 90%;
  }
}

/********* Tablet View ********************/
@media (min-width: 1025px) and (max-width: 1282px) {
  .nav-links {
    margin-right: -3%;
  }
  .btn-contact {
    margin-left: 1rem;
    margin-right: 4rem;
  }
  .logo {
    margin-left: 4rem;
  }
}
@media (min-width: 810px) and (max-width: 1024px) {
  .logo {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .nav-links {
    gap: 2rem;
    margin-right: -4%;
  }

  .nav-links a {
    font-size: 1rem;
    padding: 0.5rem 0.1rem;
  }
  /*This is to give the individual links better spacing. It solved a problem I had*/
  .act-links {
    margin-top: 0.5rem;
    margin-right: 4rem;
  }
  .btn-contact {
    margin-left: 3rem;
    margin-right: 3.5rem;
  }

  /******** The second section**************/
  .second-content p {
    font-size: 1.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cards-container {
    transform: none;
    flex-direction: column;
    gap: 0.02rem;
  }
  .cards-container .card {
    width: 100%;
    text-align: center;
  }
  .cards-container .card img {
    width: auto;
  }
  .cards-container .card h3 {
    margin-left: 16rem;
    margin-top: -11rem;
  }

  /***** The third section *****/
  .third {
    margin: 5rem 7rem 5rem 7rem;
    font-family: "Inter", sans-serif;
    color: var(--main-text);
    padding: 80px 20px;
  }
  .illustration {
    flex-shrink: 0;
    width: 30%;
    transform: translateY(9%);
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .illustration img {
    width: 210%;
    height: auto;
    object-fit: contain;
  }

  /***** footer ******/
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer-logo h2 {
    font-size: 1.7rem;
  }

  .footer-links {
    gap: 2.5rem;
    padding-left: 0rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1020px) and (max-width: 1024px) {
  .cards-container .card h3 {
    margin-left: 20rem;
    margin-top: -6rem;
  }

  /***** footer ******/
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer-logo h2 {
    font-size: 1.7rem;
  }

  .footer-links {
    gap: 2.5rem;
    padding-left: 0rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 900px) and (max-width: 959px) {
  .nav-links {
    margin-left: 2%;
  }
  .logo {
    margin-right: 2rem;
  }

  .btn-contact {
    margin-left: -1rem;
    margin-right: 2rem;
  }
}

@media (min-width: 840px) and (max-width: 859px) {
  .nav-links {
    margin-left: 8%;
  }
  .btn-contact {
    margin-left: -2rem;
    margin-right: 8rem;
  }
  .logo {
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 800px) and (max-width: 839px) {
  .nav-links {
    margin-left: 1%;
  }
  .btn-contact {
    margin-left: -1rem;
    margin-right: 2rem;
  }
  .act-links {
    margin-left: 2rem;
    margin-right: 1.5rem;
  }

  /***** footer ******/
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer-logo h2 {
    font-size: 1.7rem;
  }

  .footer-links {
    gap: 2.5rem;
    padding-left: 0rem;
    padding-bottom: 1rem;
  }
}
