@media (min-width: 810px) and (max-width: 1024px) {
  .logo {
    font-size: 1rem;
    margin-left: -1.2rem;
  }

  .nav-links {
    gap: 2rem;
    margin-right: -6%;
  }

  .nav-links a {
    font-size: 1rem;
    padding: 0.5rem 0.1rem;
  }
  /*This is to give the individual links better spacing. It solved a problem I had*/
  .act-links {
    margin-top: 0.5rem;
    margin-right: 4rem;
  }

  /******** The second section**************/
  .second-content p {
    font-size: 1.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cards-container {
    transform: none;
    flex-direction: column;
    gap: 0.02rem;
  }
  .cards-container .card {
    width: 100%;
    text-align: center;
  }
  .cards-container .card img {
    width: auto;
  }
  .cards-container .card h3 {
    margin-left: 16rem;
    margin-top: -11rem;
  }

  /***** The third section *****/
  .third {
    margin: 5rem 7rem 5rem 7rem;
    font-family: "Inter", sans-serif;
    color: var(--main-text);
    padding: 80px 20px;
  }
  .illustration {
    flex-shrink: 0;
    width: 30%;
    transform: translateY(9%);
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .illustration img {
    width: 210%;
    height: auto;
    object-fit: contain;
  }
}
@media (min-width: 1020px) and (max-width: 1024px) {
  .cards-container .card h3 {
    margin-left: 20rem;
    margin-top: -6rem;
  }
}
@media (max-width: 830px) {
  .act-links {
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
}

@media (min-width: 840px) and (max-width: 859px) {
  .illustration {
    transform: translateY(0%);
    margin-left: 13rem;
  }

  .illustration img {
    width: 290%;
  }
}

@media (min-width: 600px) and (max-width: 809px) {
  .logo {
    font-size: 1.2rem;
    margin-left: 4rem;
  }

  /*This is to give the individual links better spacing. It solved a problem I had*/
  .act-links {
    margin-top: 0.5rem;
    margin-right: 3rem;
  }
}

/* For larger screens */
@media (min-width: 769px) {
  nav {
    padding: 1.2rem 4rem;
  }

  .nav-links {
    margin-left: 2rem;
  }
}
@media (min-width: 768px) {
  .nav-links {
    position: static;
    transform: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; /* aligns links to the right */
    background: none;
    box-shadow: none;
    padding: 0;
    gap: 2rem;
  }
  .nav-links a {
    text-align: center;
    width: auto;
    color: var(--nav-text);
  }
}

/** For other screens**/
@media (max-width: 770px) {
  .hamburger {
    margin-right: -10px;
  }

  .hero {
    margin-left: 10%;
  }

  .bck-img {
    top: 65%;
    left: -5%;

    /*  opacity: 0.1;*/
    z-index: -1;
  }
  .bck-img img {
    width: 110%;
  }
}

/*For smaller screens*/
@media (max-width: 480px) {
  .nav-links a {
    color: var(--wht-text) !important;
  }

  .act-links {
    color: var(--wht-text);
  }

  .hamburger {
    margin-right: -2rem;
  }

  .logo {
    margin-left: 1rem;
    margin-top: 2px;
    font-size: 1.2rem;
  }

  /* hero section */
  .hero {
    margin-left: 12%;
  }

  .hero-btn {
    transform: none;
    margin: 2.8rem auto 0 auto;
    width: fit-content;
  }

  .parallelogram {
    width: 67%;
  }

  .parallelogram h1 {
    font-size: 2.5rem;
  }

  .hero-content h2 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .bck-img {
    top: 67.8%;
    left: -5%;

    /*  opacity: 0.1;*/
    z-index: -1;
  }
  .bck-img img {
    width: 110%;
  }

  /************ The second section**************/
  .second {
    margin-top: 20rem;
    padding: 4rem 1rem;
    margin-left: 0rem;
    overflow: hidden;
  }
  .second-content {
    flex-direction: column;
    padding: 4rem 0rem;
    margin-left: 1.5rem;
  }
  .second-content h2 {
    font-size: 2.3rem;
  }
  .second-content p {
    font-size: 1.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .cards-container {
    flex-direction: column;
    gap: 0.02rem;
    transform: translateX(-70px);
  }

  .cards-container .card {
    width: 90%;
    text-align: center;
  }
  .cards-container .card img {
    width: auto;
    height: 60vh;
  }
  .cards-container .card h3 {
    font-size: 1.12rem;
    margin-top: -7.9rem;
    font-weight: 600;
    text-align: center;
    margin-left: 8.8rem;
    width: 110%;
  }
}

@media (max-width: 400px) {
  .bck-img {
    top: 92%;
    left: -5%;

    /*  opacity: 0.1;*/
    z-index: -1;
  }
  .bck-img img {
    width: 110%;
  }
}

@media (min-width: 200px) and (max-width: 369px) {
  .logo {
    font-size: 0.89rem;
  }
  .hamburger {
    width: 9%;
  }
  .cards-container {
    transform: translateX(-80%);
  }
  .cards-container .card h3 {
    margin-left: 9rem;
    margin-top: -7.9rem;
  }
  .cards-container .card img {
    height: 70vh;
  }
}
@media (min-width: 370px) and (max-width: 399px) {
  .second-content {
    flex-direction: column;
    padding: 4rem 0rem;
    margin-left: 1.5rem;
  }
  .second-content h2 {
    font-size: 2.3rem;
  }
  .second-content p {
    font-size: 1.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .cards-container .card {
    width: 90%;
    text-align: center;
  }
  .cards-container .card img {
    width: auto;
    height: 60vh;
  }
  .cards-container {
    transform: translateX(-30%);
  }
  .cards-container .card h3 {
    margin-left: 8.5rem;
    margin-top: -7.9rem;
  }
}
@media (min-width: 371px) and (max-width: 379px) {
  .cards-container {
    transform: translateX(-10%);
  }
  .cards-container .card h3 {
    margin-left: 6.2rem;
    margin-top: -7.9rem;
  }
}
@media (min-width: 359px) and (max-width: 362px) {
  .cards-container {
    transform: translateX(-45%);
  }
  .cards-container .card h3 {
    margin-left: 9.8rem;
    margin-top: -7.9rem;
  }
}
@media (min-width: 767px) and (max-width: 769px) {
  .cards-container {
    transform: none;
  }
  .cards-container .card h3 {
    margin-left: 3rem;
    margin-top: -11rem;
  }
}
@media (min-width: 343px) and (max-width: 345px) {
  .cards-container .card {
    width: 100%;
    text-align: center;
  }
  .cards-container {
    transform: translateX(-136px);
  }
  .cards-container .card h3 {
    margin-left: 13rem;
    margin-top: -9rem;
  }
}
@media (min-width: 500px) and (max-width: 542px) {
  .cards-container {
    transform: translateX(-25px);
  }
  .cards-container .card h3 {
    margin-left: 4rem;
    margin-top: -8rem;
  }
}
